.touch {
    margin:50px 0px;
}

.btn {
    font-size: 20px;
    width: 300px;
    height: 60px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    align-items: center;
    border-radius: 5px;
    background: #89CA62;
}
