body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
}

@keyframes test-animation {
    0% {top: 100%;
    }

    100% {top: -180%;
    }
}

.container {
    width: 50%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    animation-name: test-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    transform: perspective(600px) rotateX(40deg);
}

.item {
    text-align: center;
    color: rgb(247, 240, 45);
     
}

h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

h3 {
    font-size: 50px;
    margin-bottom: 30px; 
}

p {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: justify;  
}