.header {
    width: 1280px;
    margin: 63px auto 48px;
}

.logo {
    font-size: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-touch {
    text-decoration: none;
    color: black;
}

.logo-color {
    color: rgb(128, 205, 250);
}

.head-menu {
    margin-top: 38px;
}

.head-list {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #35444F;
}

.head-item {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #35444F;
    border-left: 1px solid white;
}

.head-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 26px 30px 19px 30px;
}

.head-link:hover {
    background-color: #222F3A;
    /*border: 1px solid transparent;*/
}

.main {
    width: 1280px;
    margin: 48px auto 52px;
    display: flex;
    justify-content: start;
}

.left-item {
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left-link {
    display: block;
    text-decoration: none;
    color: #485863;
    padding-left: 42px;
    line-height: 80px;
}

.left-list {
    border: 1px solid #000000;
    width: 342px;  
}

.left-link:hover {
    background-color: #DBDBDB;
}

.size {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    margin-left: 52px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;   
}

.text-body {
    margin: 37px auto;
}

.text {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background:rgba(99, 105, 110, 0.48); 
    width: 1280px;
    margin: 284px auto 30px;
}

.footer-list {
    display: flex;
    justify-content: left;
    align-items: center;
   
}

.footer-item {
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-link {
    display: block;
    line-height: 63px;
    text-decoration: none;
    margin-left: 40px;
    color: #0C1927;  
}

.footer-link:hover {
    background-color: #378db4;    
}

.copyright {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto; 
}











