.header {
  @include flex-center;
  padding-top: 60px;
  font-size: $menuFont;
  &__img {
    width: 100%;
    margin-top: 23px;
    margin-bottom: 38px;
  }
}

.menu {
  &__list {
    display: block;
    position: absolute;
    right: 15px;
    width: 153px;
    height: auto;
    visibility: hidden;
    background: #f5f5f5;

    a {
      display: block;
      padding: 10px 0px 9px 13px;
      text-decoration: none;
      text-transform: uppercase;
      color: $accentTextColor;
      &:hover {
        color: #57a4a4;
        background-color: $hoverColor;
      }
    }
    &.js-animate-menu {
      visibility: visible;
    }
  }
}

.burger-button {
  position: absolute;
  right: 15px;
  top: 23px;
  width: 44px;
  height: 37px;
  background-color: #000000;
  cursor: pointer;
  &__line {
    display: block;
    left: 13px;
    top: 17px;
    position: relative;
    @include burger-button-type;
    &.js-active-rotate {
      background: #000000;
    }
    &:before {
      @include burger-button-element;
      @include burger-button-type;
      top: -4px;
    }
    &.js-active-rotate:before {
      top: 0px;
      transform: rotate(45deg);
      transition: top 100ms, transform 100ms 100ms;
    }
    &:after {
      @include burger-button-element;
      @include burger-button-type;
      bottom: -4px;
    }
    &.js-active-rotate:after {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 100ms, transform 100ms 100ms;
    }
  }
}
