@import "reset";
@import "vars";
@import "mixins";
.container {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.content {
  padding: 0 15px;
}
@import "header";
@import "section-our-recent-posts";
@import "footer";
@import "media-queries";
