body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-image: url(../image/background-white.jpg);
    width: 1366px;
    height: 768px;
    background-size: cover;
    margin: 0 auto;
}

.header {
    width: 1028px;
    position: absolute;
    display: flex;
    margin: 51px 177px 0 161px;
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-logo {
    display: flex;
}

.logo {
    padding-right: 8px;
    width: 53px;
    height: 47px;
}

.logo-orange {
    display: none;
    position: fixed;
}

.title-name {
    display: flex;
    flex-direction: column;
}

.milan {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.holidays {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-logo:hover .logo {
    opacity: 0;
}

.header-logo:hover .logo-orange {
    display: block;
}

.header-logo:hover .title-name {
    color: #F26522;
}

.contacts {
    text-decoration: none;
    color: #FFFFFF;
}

.contacts-info {
    text-align: right;
    margin-left: 654px;
}

.email {
    font-size: 18px;
    font-weight: 400;
}

.tel {
    font-size: 18px;
    font-weight: 400;
    padding-top: 19px;
}

.contacts:hover .contacts-info {
    color: #F26522;
}

.main {
    width: 1028px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 124px 177px 0 161px;
}

.main-box {
    position: relative;
    display: flex;
    margin-right: 61px;
    margin-bottom: 37px;
}

.picture {
    width: 300px;
    height: 220px;
}

.picture-name {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.picture-link {
    text-decoration: none;
    color: #FFFFFF;
}

.price-info {
    background-color: #F26522;
    display: none;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    z-index: 1;
    width: 100%;
    height: 55px;
}

.price-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.from {
    font-size: 10px;
    font-weight: 400;
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.price {
    font-size: 20px;
    font-weight: 400;
    margin-left: 16px;
    margin-bottom: 12px;
}

.detailed-info {
    display: flex;
    margin-top: 29px;
    margin-left: 14px;
    margin-right: 14px;
}

.detailed-info::after {
    content: ">";
    margin-left: 16px;
}

.main-box:hover {
    display: block;
}

.main-box:hover .price-info {
    display: flex;
}

.main-box:hover .picture-name {
    color: #F26522;
}

.theme {
    font-size: 15px;
    background: #18CFAB;
    color: #fff;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding-top: 732px;
    color: #FFFFFF;
}

.footer .copyright {
    font-size: 12px;
}


