body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background: url(../image/Фон\ 1.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 17px; 
}

.header {
    width: 1366px;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;  
}

.logo {
    margin-left: 79px;
}

.logo-name {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
}

.logo-name:hover {
    color: #01813F;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-right: 79px;
}

.connect {
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}

.icon {
    font-size: 24px;
    margin-right: 25px;
    letter-spacing: 24px;
    cursor: pointer;
    color: #ffffff;
}

.fa-calendar-alt:hover {
    color: #01813F;
}

.fa-envelope-open:hover {
    color: #01813F;
}

.fa-compass:hover {
    color: #01813F;
}

.welcome {
    color: #ffffff;  
}

.login-singup {
    color: #ffffff;
    text-decoration: none;
}

.login-singup:hover {
    color: #01813F; 
}

.main {
    padding-top: 112px;
}

.form-box {
    width: 444px;
    height: 584px;
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 31px 61px 40px;
    margin-left: 461px;
}

.signup::before {
    content: " ";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    background: #3CB878;
}

.signup {
    font-size: 20px;
    margin-right: 210px;
    margin-bottom: 15px;
    display: inline-block;
    color: #434343;
}

.log-in {
    font-size: 14px;
    text-decoration: none;
    color: #3CB878;
}

.log-in:hover {
    text-decoration: underline;
    color: #01813F;
}

.btn-box {
    width: 322px;
    letter-spacing: 8px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fb-btn {
    background-color: #305DB8; 
}

.fb-btn:hover {
    background-color: #022263;
}

.fab {
    color: #ffffff;
    font-size: 24px;
}

.fa-facebook-f {
    padding-right: 18px;
}

.btn-name {
    font-size: 16px;
    color: #ffffff;
}

.fb-name {
    padding-left: 18px;
}

.g-btn {
    background-color: #DF4A32;
    margin-bottom: 39px;
}

.g-btn:hover {
    background-color: #AB1F09;
}

.fa-google-plus-g {
    padding-right: 7px;
}

.g-name {
    padding-left: 30px;
}

.or {
    font-size: 14px;
    width: 326px;
    display: block;
    text-align: center;
    margin: 0 auto 11px;
    color: #848484;
}

.or::before, .or::after {
    content: '';
    width: 152px;
    height: 1px;
    display: inline-block;
    position: relative;
    background: #F2F2F2;   
}

.or::before {
    left: -5px;
    margin-left: -30%;
}

.or::after {
    left: 5px;
    margin-right: -30%;
}

.input {
    width: 324px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 8px;
}

.input:focus {
    outline: none;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #BEBEBE;
}

.checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #F2F2F2;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.checkbox-text {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.terms{
    text-decoration: none;
    color: rgba(60, 184, 120, 0.8);
}

.terms:hover {
    text-decoration: underline;
    color: #01813F; 
}

.button {
    font-size: 16px;
    width: 325px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.8);
    color: #fff;
    padding: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #01813F;
}












